body {  
            font-family: Arial, sans-serif;  
            background-color: #F2B7B7;  
            display: flex;  
            flex-direction: column;  
            align-items: center;  
            justify-content: flex-start;  
            min-height: 100vh;  
            margin: 0;  
            padding: 20px;  
            font-family: Arial;
        }  

        .header {  
            background-color: #BD4753;  
            color: white;  
            padding: 20px 40px;  
            border-radius: 20px;  
            font-size: 24px;  
            margin-bottom: 20px;  
        }  

        .calculator-container {  
            background-color: #FFEBEB;  
            border-radius: 20px;  
            padding: 20px;  
            width: 300px;  
            display: flex;  
            flex-direction: column;  
            align-items: center;  
        }  

        .calculator-container h2 {  
            color: #A34A4A;
        }  

        .form-group {  
            margin-bottom: 15px;  
            width: 100%;  
            color: #E77676;
            text-align: center;
        }  

        .form-group label {  
            display: block;  
            margin-bottom: 5px;  
            color: #DC7BA5;
            text-align: center;
        }  

        .form-group input[type="number"] {  
            width: 100%;  
            padding: 10px;  
            border: 1px solid #ddd;  
            border-radius: 10px;  
            box-sizing: border-box;  
        }  

        .calculate-button {  
            background-color: #E48080;  
            color: white;  
            padding: 10px 20px;  
            border: none;  
            border-radius: 10px;  
            cursor: pointer;  
            font-size: 16px;  
        }  

        .result-container {  
            background-color: #F9D4CF;  
            border-radius: 20px;  
            padding: 20px;  
            width: 300px;  
            margin-top: 20px;  
            text-align: center;  
        }  

        .result-container h2 {  
            color: #8F5262;  
        }  

        .footer {  
            margin-top: 20px;  
            font-size: 12px;  
            color: #ffffff;  
            text-align: center;  
        }
        .form-group select{
            width: 100%;  
            padding: 10px;  
            border: 1px solid #ddd;  
            border-radius: 10px;  
            box-sizing: border-box;   
            text-align: center;
        }